* {
    box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin: 0;
}

p {
    font-size: 18px;
    margin-left: 20px;
}

h1 {
    margin-left: 20px;
    font-size: 20px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 120vh;
    margin: 0;
    background-color: #F2F1EB;
}

.col-1 {
    display: flex;
    flex-direction: column;
    flex: 5;
}

.content>article {
    flex: 5;
    min-height: 70vh;
    display: flex;
    flex-direction: row;
}

header,
footer,
article,
nav {
    padding: 1em;
}

li {
    display: inline-block;
}


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #AFC8AD;
    justify-content: center;
}

nav {
    width: 70%;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100%;
}

.nav-list li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
}

footer {
    background-color: #AFC8AD;
    padding: 40px;
    width: 100%;
    position: relative;
    display: block;
    margin-top: auto;
    text-align: center;
}

.footer-content {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}

th,
td {
    text-align: left;
}

main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.content {
    display: flex;
    width: 100%;
    gap: 20px;
}

.infoimage {
    width: 300px;
    height: 500px;
}

.textlink {
    text-decoration: none;
}

#li_imagelist {
    display: list-item
}

@media only screen and (max-width: 768px) {
    .content {
        /*change the order on top of each other and center on mobile*/
        flex-direction: column;
        align-items: center;
        
    }

    .infoimage {
        width: 120px;
        height: 200px;
    }
}