* {
    box-sizing: border-box;
}

header,
footer,
nav {
    padding: 1em;
}

li {
    display: inline-block;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    font-size: 16px;
}

p,
h1 {
    margin-left: 40px;
    margin-top: 40px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #F2F1EB;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #AFC8AD;
    padding: 10px;
    justify-content: center;
}

.logo {
    height: auto;
    width: 30%;
}

nav {
    width: 70%;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100%;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
}

main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

footer {
    background-color: #AFC8AD;
    padding: 40px;
    width: 100%;
    position: relative;
    display: block;
    margin-top: auto;
    text-align: center;
}

.footer-content {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}

.content-container {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
/* Kasvikisailu logo showing on left side */
.image-container {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.kasvikisailulogo {
    max-width: 550px;
}

.hidden {
    display: none;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #55996F;
    color: white;
    cursor: pointer;
    margin: 0% auto;
    display: block;
}
button:hover {
    background-color: #3c614a;
}


@media only screen and (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    .content-container {
        padding: 5px;
    }

    .kasvikisailulogo {
        width: 200px;
    }
}