* {
    box-sizing: border-box;
}

header,
nav {
    padding: 1em;
}

li {
    display: inline-block;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    font-size: 18px;
}

p,
h1 {
    margin-left: 40px;
    margin-top: 40px;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
    text-align: center;
    align-items: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #F2F1EB;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #AFC8AD;
    padding: 10px;
    justify-content: center;
    width: 100%;
}


.logo {
    height: auto;
    width: 30%;
}

nav {
    width: 70%;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100%;
}

.nav-list li {
    margin: 0 15px;
    position: relative;
}

.nav-list li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-list li a:hover {
    color: #666;
}

.nav-list .dropdown>a::after {
    content: " ▼";
    font-size: 0.8em;
    margin-left: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #AFC8AD;
    min-width: 160px;
    z-index: 1;
    border-radius: 8px;
    top: 100%;
    left: 0;
    text-align: left;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: color 0.3s ease, background-color 0.3s ease;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #8FAE89;
    color: #666;
}

.dropdown:hover .dropdown-content {
    display: block;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 40px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.text {
    flex: 1;
    max-width: 48%;
}

.kuva {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

footer {
    background-color: #AFC8AD;
    padding: 26px;
    width: 100%;
    margin-top: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.footer-content {
    width: 100%;
    margin: 0 auto;
    font-size: 20px;
    font-style: italic;
    color: #333;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#question-container {
    margin-bottom: 20px;
}

.view {
    display: none;
}

.view.active {
    display: block;
    align-items: center;
    text-align: justify;
    margin: 0 auto;
    max-width: 500px;
}


button {
    background-color: #AFC8AD;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block;
    margin: 20px auto;
    font-size: 18px;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

#game-name {
    text-align: center;
    margin-top: 25px;
}

#feedback-container.hidden {
    display: none;
}

.results {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.results {
    background-color: #AFC8AD;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
}

#result-message {
    text-align: left;
    font-size: 30px;
}

.text-content {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    text-align: justify;
}

#image-container {
    width: 50%;
    height: auto;
    display: block;
    margin-left: 0;
    margin-top: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

#options-container {
    font-size: 18px;
    padding: 10px 20px;
    width: 100%;
    max-width: 500px;
    border-radius: 5px;
    border: 2px solid #AFC8AD;
    background-color: #F2F1EB;
}

#question-container {
    font-weight: bold;
}

#price-icon {
    text-align: center;
}

@media (max-width: 1410px) {

    .logo {
        width: 60%;
        max-width: 450px;
        height: auto;
        margin: 0 auto;
    }
}

/* responsiivisuus  */
@media (max-width: 1200px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    p,
    h1 {
        margin: 20px auto;
        text-align: left;
    }

    .main {
        padding: 2px;
    }

    .kuva {
        width: 30%;
        height: auto;
        border-radius: 50%;
        object-fit: cover;
        aspect-ratio: 1 / 1;
    }

    .text {
        text-align: left;
        max-width: 90%;
    }

    .footer-content p {
        text-align: center;
    }    
}

@media (max-width: 768px) {

    .text {
        text-align: left;
        padding-top: 20px;
    }

    p,
    h1 {
        margin: 20px auto;
        text-align: left;
    }

    .kuva {
        width: 25%;
        height: auto;
        border-radius: 50%;
        object-fit: cover;
        aspect-ratio: 1 / 1;
    }

    .results {
        display: block;
        width: 100%;
        margin: 10px 0;
    }

    .logo {
        width: 50%;
        max-width: 400px;
        height: auto;
        margin: 0 auto;
    }
}

@media (max-width: 480px) {

    .text {
        text-align: left;
        padding-top: 20px;
    }

    p,
    h1 {
        margin: 20px auto;
        text-align: left;
    }

    .logo {
        width: 80%;
        max-width: 280px;
        height: auto;
        margin: 0 auto;
    }

    nav {
        display: flex;
        justify-content: center;
        width: auto;
        margin: 0 auto;
    }

    .content.kuva {
        width: 20%;
        height: auto;
        border-radius: 50%;
        object-fit: cover;
        aspect-ratio: 1 / 1;
    }

    .results {
        display: block;
        width: 100%;
        margin: 10px 0;
    }
}